.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/* HEADER */
.header {
  display: flex;
  align-items: center;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background: #f2f2f2;
  position: relative;
}

.logo {
  width: 228px;
  height: 32px;
  background-image: url(../images/logo_place_header.svg);
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  width: 730px;
  margin: 0 0 0 64px;
  z-index: 2;
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
}

.header__subtitle {
  width: 388px;
  margin: 0;
  position: absolute;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 0;
}

.content {
  flex: 1;
}
/* SECTION DESCRIPTION */
.description {
  display: flex;
  justify-content: center;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
/* Добавим элемент description__two-columns, чтобы не делать отступ у самого блока two-columns согласно БЭМ*/
.description__two-columns {
  padding-top: 100px;
}

.two-columns__brief {
  width: 175px;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0 0 30px 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:last-child {
  margin: 0;
}

.two-columns__span-accent {
  font-weight: 600;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  margin: 100px 0 20px 0;
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  z-index: 1;
}

.section-subtitle {
  margin: 0;
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  z-index: 1;
}

.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto 100px;
  z-index: 1;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 20px;
}

.table__text {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__span-accent {
  display: block;
  margin-top: 20px;
}

/* SECTION FEYNMAN */

.feynman {
  box-sizing: border-box;
  height: 890px;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 867px 637px;
  position: relative;
}

.feynman__title {
  width: 648px;
  margin: 0 auto;
  padding: 100px 0 70px 0;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}

.feynman__subtitle {
  margin: 0 auto;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

/* SECTION KAUFMAN */

.kaufman {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1f1f1f;
  position: relative;
  overflow: hidden;
}
.section-title_theme_dark {
  margin-top: 90px;
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

.table_theme_dark {
  margin: 0 auto 90px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
}

/* SECTION FOOTER */

.footer {
  box-sizing: border-box;
  background: #1f1f1f;
  min-height: 350px;
  padding: 60px 0 40px 0;
  display: flex;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
}

.footer__columns {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  width: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author {
  color: white;
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin: 0;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  margin: 20px 0 16px 0;
}

.footer__column-link {
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__social-icon {
  margin-right: 10px;
}
